{% extends 'base.html' %}
{% load static %}

{% block title%}
<title>Projetos</title>
{% endblock%}

{% block conteudo%}
<div class="container">
    <p class="display-4 py-5"><strong>Projetos da empresa</strong></p>
    <div class="row mb-5" >
        <div class="card m-2 col-1" style="width: 18rem;">
            <img src="{% static 'img/madara_card.jpg'%}" class="card-img-top" alt="madara_card"">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-2 col-2" style="width: 18rem;">
            <img src="{% static 'img/madara_card.jpg'%}" class="card-img-top" alt="madara_card"">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-2 col-3" style="width: 18rem;">
            <img src="{% static 'img/madara_card.jpg'%}" class="card-img-top" alt="madara_card"">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-2 col-4" style="width: 18rem;">
            <img src="{% static 'img/madara_card.jpg'%}" class="card-img-top" alt="madara_card"">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="container display-5 mb-2">Apresentação </div>
<div class="container lead mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut cum quaerat culpa officia saepe sit qui obcaecati quam! Tempora illo impedit consequuntur aliquid facilis maxime quas quibusdam quae voluptatem exercitationem est ea, animi laborum commodi, porro, eius laudantium molestias nesciunt eum dolore consectetur sint. Perferendis fuga nulla voluptatem temporibus aliquid sequi odio officia, molestias magnam, debitis, id consequuntur explicabo laboriosam ipsam praesentium adipisci corporis consectetur nobis voluptates molestiae dolorum et repudiandae qui. Vitae facilis officia, animi magnam ipsum id ipsam mollitia minima asperiores, sapiente modi consectetur! Rem obcaecati sapiente beatae, expedita laudantium minima consequatur, eum distinctio, non quaerat debitis hic.    
</div>
{% endblock %}
